<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="ch.qos.logback">
    <resources>
        <resource-root path="logback-classic-1.1.1.jar"/>
        <resource-root path="logback-core-1.1.1.jar"/>
    </resources>
    <dependencies>
        <module name="org.slf4j" />
        <module name="javax.api" />
        <module name="javax.mail.api" />
    </dependencies>
</module>
