<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015-2017 Intel Corporation
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration scan="true" scanPeriod="10 seconds">
    <appender name="pod-manager" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/pod-manager/pod-manager-application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/pod-manager/pod-manager-application.%i.log.gz</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>4</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSS"} [%thread] %-5level %logger{36}%marker - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="pod-manager-services-detection" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/pod-manager/pod-manager-services-detection.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/pod-manager/pod-manager-services-detection.%i.log.gz</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>4</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSS"} [%thread] %-5level %logger{36}%marker - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- to see raw http requests data handled by Resteasy client - set logger level to DEBUG -->
    <logger name="org.apache.http.wire" level="INFO" additivity="false">
        <appender-ref ref="pod-manager" />
    </logger>

    <logger name="com.intel" level="DEBUG" additivity="false">
	    <appender-ref ref="pod-manager" />
    </logger>

    <logger name="com.intel.podm.discovery.external.ServiceDetectionListenerImpl" level="INFO" additivity="true">
        <appender-ref ref="pod-manager-services-detection" />
    </logger>

    <root level="INFO" >
        <appender-ref ref="pod-manager" />
    </root>
</configuration>
