<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2017-2019 Intel Corporation
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="severity" value="error"/>

    <module name="SuppressionFilter">
        <property name="file" value="${checkstyleConfigDir}/suppressions.xml"/>
    </module>

    <module name="NewlineAtEndOfFile"/>

    <module name="Translation"/>

    <module name="FileLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="900"/>
    </module>

    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="minimum" value="0"/>
        <property name="maximum" value="0"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="RegexpHeader">
        <property name="header" value="^/\*$\n^ \* Copyright \(c\) (([0-9]{4}-[0-9]{4})|[0-9]{4}) Intel Corporation$"/>
    </module>

    <module name="SuppressWarningsFilter"/>

    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>
        <module name="Regexp">
            <property name="format" value="created by rsa"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <module name="PackageDeclaration"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="sun, com.google.common.base.Preconditions, java.util.Objects.requireNonNull"/>
        </module>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>


        <module name="LineLength">
            <property name="max" value="160"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="25"/>
        </module>
        <module name="ExecutableStatementCount">
            <property name="max" value="16"/>
            <property name="tokens" value="CTOR_DEF,METHOD_DEF"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="6"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="6"/>
            <property name="tokens" value="CTOR_DEF"/>
        </module>
        <module name="MethodCount">
            <property name="maxTotal" value="15"/>
            <property name="maxPublic" value="13"/>
            <property name="maxPrivate" value="10"/>
            <property name="maxProtected" value="6"/>
            <property name="maxPackage" value="2"/>
        </module>
        <module name="AnonInnerLength">
            <property name="max" value="15"/>
        </module>

        <module name="EmptyForIteratorPad"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLines" value="false"/>
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
            <property name="tokens" value="PACKAGE_DEF, IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF, STATIC_INIT, INSTANCE_INIT, CTOR_DEF, VARIABLE_DEF"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="SingleSpaceSeparator"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="ignoreEnhancedForColon" value="false"/>
        </module>

        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="IllegalThrows"/>
        <module name="InnerTypeLast"/>
        <module name="DeclarationOrder"/>


        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>

        <module name="UnnecessaryParentheses"/>

        <module name="UncommentedMain">
            <property name="excludedClasses" value="\.*Application$"/>
        </module>
        <module name="StringLiteralEquality"/>
        <module name="MutableException"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber">
            <property name="ignoreHashCodeMethod" value="true"/>
            <property name="ignoreAnnotation" value="true"/>
            <property name="ignoreFieldDeclaration" value="true"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="CovariantEquals"/>
        <module name="ModifiedControlVariable"/>
        <module name="IllegalCatch"/>


        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>

        <module name="ParameterAssignment"/>


        <module name="ArrayTypeStyle"/>
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>
        <module name="UpperEll"/>


        <module name="CyclomaticComplexity">
            <property name="max" value="6"/>
        </module>
        <module name="NestedForDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="3"/>
        </module>
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="10"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="max" value="10"/>
            <property name="excludedClasses" value="boolean, byte, char, double, float, int, long, short, void, Boolean,
            Byte, Character, Double, Float, Integer, Long, Short, Void, Object, Class, String, StringBuffer,
            StringBuilder, ArrayIndexOutOfBoundsException, Exception, RuntimeException, IllegalArgumentException,
            IllegalStateException, IndexOutOfBoundsException, NullPointerException, Throwable, SecurityException,
            UnsupportedOperationException, List, ArrayList, Deque, Queue, LinkedList, Logger, Set, HashSet, SortedSet, TreeSet,
            Map, HashMap, SortedMap, TreeMap, BiMap, Optional, Consumer, UUID, Collectors, Collection, Iterable, URI, Predicate"/>
        </module>
        <module name="NPathComplexity">
            <property name="max" value="16"/>
        </module>
        <module name="ReturnCount">
            <property name="max" value="4"/>
        </module>
        <module name="VariableDeclarationUsageDistance">
            <property name="allowedDistance" value="3"/>
        </module>

        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="PackageAnnotation"/>
        <module name="OuterTypeFilename"/>
        <module name="ExplicitInitialization"/>

        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviationLength" value="1"/>
            <property name="allowedAbbreviations" value="IO,PATCH"/>
            <property name="ignoreFinal" value="false"/>
            <property name="ignoreStatic" value="true"/>
            <property name="ignoreOverriddenMethods" value="false"/>
        </module>
    </module>

</module>
